body {
    font-family: sans-serif;
}
input[type=radio]{
    display:none;
}

/* input[type=radio]:checked + .label {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
} */

#blue {
    color: blue;
}

#red {
    color:red;
}
#purple {
    color: purple;
}

input[type=radio]:checked + img {
    border: 5px solid blue;
}